
body {
	background-image: url(/imgs/bg-all-categories.jpg);
	background-size: cover;
}

.container-body {
	width: 70%;
	height: 91%;
	border: 1px solid black;
	margin: -1px auto;
	background-color: rgba(0,0,0,0.6);
}

.img-customer {
	margin-top: 70px;
	width: 100%;
	height: 70%;
}