
body {
	background-image: url(/imgs/bg-all-categories.jpg);
	background-size: cover;
}

.container-body {
	width: 70%;
	height: 91%;
	border: 1px solid black;
	margin: -1px auto;
	background-color: rgba(0,0,0,0.6);
}

.img-customer {
	margin-top: 70px;
	width: 100%;
	height: 70%;
}

.card-technical {
	width: 190px;
	height: 430px;
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0,105,104,0.8);
	margin: 10px;

}

.card-technical-header {
	width: 100%;
	height: 43%;
	margin-bottom: 5px;
	border-radius: 10px 10px 0px 0px;
}

.card-technical-body {
	width: 100%;
	height: 55%;
	margin-top: 5px;
	border-radius: 0px 0px 10px 10px;
	background-color: rgba(0,0,0,0.5);
	
}

.photo-technical {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 100%;
	border: 4px solid rgba(0,0,0,0.5);
}

.technical-name {
	text-align: center;
	color: white;
}

.contact-number {
	background-color: rgba(195,195,195,0.2);
}

.txt-span {
	color: white;
}

.actions {
	width: 110px;
	height: 100px;
	margin: 0px auto;
}

.container-info-technical {
	width: 100%;
}

.title-sections {
	background-color: #003334;
	color: white;
	padding: 10px;
}

.container-info-studies {
	width: 100%;
}

.container-info-experiences {
	width: 100%;
}

.form_add_address {
	display: none;
}


/*Codigo para las cards de ordenes cliente*/

.card-order {
	width: 400px;

	margin: 10px;
}

.orders-container {
	width: 860px;
	margin: -24px auto;
	background-color: rgba(0,0,0,0.5);
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.title-orders{
	color: white;
	margin: 20px;
	display: inline-block;
}

.pagination {
	margin-top: 20px;
}


/* Codigo modal administrar ordenes */

.cardInfoOrder {
  margin: 0px auto;
  width: 900px;
  height: 100px;
}

.subCardInfo {
  width: 23%;
  margin: 5px;
  display: inline-block;
  text-align: left;
}

.subCardInfoUser2 {
  width: 30%;
  margin: 5px;
  display: inline-block;
  text-align: left;
}

.cardInfoUser {
  margin: 0px auto;
  width: 900px;
  height: 140px;
}


.title-info {
  background-color: #004C51;
  padding: 10px;
  color: white;
  font-size: 17px;
}

.cardInfoService {
  margin: 0px auto;
  width: 900px;
}

.subCardInfoService {
  width: 100%;
  margin: 5px;
  display: inline-block;
  text-align: left;
}

.cardInfoOrderDescription {
  margin: 0px auto;
  width: 900px;
}

.order-description {
  text-align: justify;
  margin-top: 10px;
}

.title-modal {
  margin-left: 45%;
}

.buttons-order {
  margin: 0px auto;
  width: 900px;
  margin-top: 30px;
  margin-bottom: 25px;
}

span{
  font-size: 13px;
}

p {
  font-size: 13px;
}

strong {
  font-size: 15px;
}



.btn-modal {
  font-size: 15px;
}

.card-style {
  width: 200px;
  height: 150px;
  overflow-y: scroll;
  margin: 5px;
  display: inline-block !important;
}

.cards-notes {
  width: 860px;
  margin: 0px auto;
}

.title-notes{
  display: block;
}

#calendar {
  margin: 0px auto;
  width: 900px;
  display: none;
}

.select-filter {
  display: inline-block !important;
  width: 300px !important;
}