.area{
	background: url('/imgs/bg-curriculum.jpg') no-repeat !important;
	background-size: cover !important;
}

.bg-experiences{
   	background-color: rgba(0,0,0,0.8);
   	height: 100%;
}

h1{
	color: #fff !important;
	margin-bottom: 30px;
  	padding-top: 30px;
}

.cards-experiences{
  width: 860px;
  margin: 0px auto;
}

.card{
  display: inline-block;
  width: 400px;
  height: 200px;
  vertical-align: top;
}

.btn-add-experience{
	margin-left: 255px;
}

.btn-custom-danger {
	background-color: #E80B0B;
	color: #fff;
	width: 30px;
	margin-left: 325px;
	vertical-align: top;
	margin-top: 0px;
	position: fixed;
}

.btn-custom-danger:hover {
	background-color: #A60909;
	color: #fff;
	transform: scale(1.05);
}